.incorrecto {
    border-color: red !important;
}

.correcto {
    border-color: green !important;
}

.inactivo {
    cursor: default !important;
    background-color: gray !important;

    &:hover {
        transform: scale(1)!important;
    }

}

.activo {
    cursor: pointer;
}

.error {
    width: 80%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    color: white;
}