.sweet-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.sweet-icon {
    font-size: 2rem;
}
.sweet-confirm {
    font-size: 2rem !important;
    background-color: $bgColor !important;
}

.sweet-deny {
    font-size: 2rem !important;
    background-color: red !important;
}