#destacados {
    margin-top: 5rem;
    text-align: center;

    .titulo {
        font-size: 5rem;
        color: #e2ccac;
        margin-bottom: 2rem;

        @include telefono {
            font-size: 3rem;
        }
    }

    .contenedorDestacados {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-bottom: 3rem;

        @include telefono {
            grid-template-columns: repeat(2, 1fr);
        }

        .card {
            background-color: $bgColor;
            color: $blanco;
            border: none;
            cursor: pointer;
            
            img {
                width: 100%;
                height: 350px;

                @include tablet {
                    height: 280px;
                }

                @include telefono {
                    height: 230px;
                }
            }

            .tituloProducto,
            .precioProducto {
                color: #e2ccac;
                text-transform: uppercase;
                padding-top: 1rem;
                font-size: 2.3rem;

                @include telefono {
                    font-size: 2rem;
                }
            }
        }

    }

    .ventajas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 1rem;

        img {
            grid-column-start: 2;
            grid-column-end: 3;

            @include telefono {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        .contenedorVentajas {
            text-align: start;

            ul {
                list-style: none;

                li {
                    color: $colorTexto;
                    font-size: 3rem;

                    @include tablet {
                        font-size: 2rem;
                    }

                    @include telefono {
                        font-size: 1.5rem;
                    }

                    i {
                        margin-right: 1rem;
                        font-size: 2rem;

                        @include telefono {
                            font-size: 1.5rem;
                        }
                    }  
                }
            }
        }
    }
}