.footer {
    padding: 5rem;
    background-color: $bgColor;
    color: $blanco;
    text-align: center;

    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
        font-family: Anabele;
        src: url("/src/font/Anabele.otf") format("opentype");

        @include tablet {
            font-size: 2rem;
        }
    }

    .redes {
        margin-top: 2rem;
        a {
            text-decoration: none;
            color: $blanco;
            width: 5rem;

            @include telefono {
                margin-right: 0;
            }
            
            i { 
                padding: 1rem;
                border: 1px solid;
                font-size: 4rem;
                border-radius: 50%;
                background-color: $blanco;
                color: $colorTexto;
                width: 60px;
                text-align: center;
            }
        }
    }
}