.footer {
    padding: 5rem;
    background-color: $bgColor;
    color: $blanco;
    text-align: center;

    h2 {
        font-size: 4.5rem;
        text-transform: uppercase;
    }

    .redes {
        margin-top: 2rem;
        a {
            text-decoration: none;
            margin-right: 5rem;
            color: $blanco;
            width: 5rem;
            
            i { 
                padding: 2rem;
                border: 1px solid;
                font-size: 8rem;
                border-radius: 50%;
                background-color: $blanco;
                color: $colorTexto;
                width: 100px;
                text-align: center;
            }
        }
    }
}