.header {
    margin-top: 3rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 5;

    @include tablet {
        display: block;
    }

    .logo {
        padding: 1rem 0;
        flex-grow: 2;
        text-align: end;

        @include tablet {
            text-align: center;
        }

        img{
            width: 70px;
            height: 30px;
        }
    }

    .navegacion {
        margin-left: 2rem;
        padding: 1rem 0;
        background-color: $bgColor;
        flex-grow: 1;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;

        @include telefono {
            margin-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;

            li {
                margin-right: 2rem;

                a{ 
                    text-decoration: none;
                    color: $blanco;
                    text-transform: uppercase;
                }

                input {
                    padding: 10px;
                    padding-right: 30px;
                    outline: none;
                    border: 1px solid $blanco;
                    border-radius: 10px;
                    width: 200px;
                    background-color: transparent;
                    color: $blanco;
                    font-size: 1.8rem;
                }

                &.busqueda {
                    color: $blanco;
                    position: relative;

                    i {
                        font-size: 1.8rem;
                        position: absolute;
                        right: 10px;
                        top: 6px;
                    }
                }

                &.carrito-compras {
                    flex-grow: 2;
                    text-align: center;
                    display: flex;
                    justify-content:center;
                    align-items: center;

                    p{
                        color: white;
                    }

                    i {
                        font-size: 3rem;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}